@model UCP1_PAW_006_A.Models.Pemesanan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pemesanan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPemesanan" class="control-label"></label>
                <input asp-for="IdPemesanan" class="form-control" />
                <span asp-validation-for="IdPemesanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalPemesanan" class="control-label"></label>
                <input asp-for="TanggalPemesanan" class="form-control" />
                <span asp-validation-for="TanggalPemesanan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHarga" class="control-label"></label>
                <input asp-for="TotalHarga" class="form-control" />
                <span asp-validation-for="TotalHarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisAlbum" class="control-label"></label>
                <input asp-for="JenisAlbum" class="form-control" />
                <span asp-validation-for="JenisAlbum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JumlahAlbum" class="control-label"></label>
                <input asp-for="JumlahAlbum" class="form-control" />
                <span asp-validation-for="JumlahAlbum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
